@using DanubeJourney.Data.Models
@using Microsoft.AspNetCore.Identity
@model DanubeJourney.Web.ViewModels.Ships.ShipViewModel
@inject SignInManager<DanubeJourneyUser> Manager
@{
    ViewData["Title"] = "Details";
}



    <div class="ship-details-container">
        <header class="details-header">
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="image">
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        </section>
        <section class="ship-title">
            <hr />
            <h1 style="text-align: center">@Model.Name</h1>
            <hr />
        </section>

        <div class="data-container">
            <section class="main-data">
                <dl>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Launched)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Launched)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Passengers)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Passengers)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Crew)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Crew)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Length)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Length)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Staterooms)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Staterooms)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Suites)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Suites)
                    </dd>
                </dl>
            </section>
            <aside class="append-data">
                <ul class="testimonials">
                    <li>
                        <a href="#">
                            <span class="avatar">
                                <img src="@Model.Captain.Avatar" alt="avatar">
                            </span>
                            <span class="name">@Model.Captain.FirstName @Model.Captain.LastName</span>
                            <span class="jobtitle">Captain</span>
                            <span class="message">
                                This is only demo!
                            </span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
<div>
    @if (this.Manager.Context.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id });
        <span>|</span>
    }


    <a asp-action="Index">Back to List</a>
</div>
