@model DanubeJourney.Web.ViewModels.Ships.ShipsIndexViewModel
@{
    ViewData["Title"] = "Ships";
}
@foreach (var ship in Model.Collection)
{
    <div class="media">
        <div class="media-header">
            <h3 class="mt-0">@ship.Name</h3>
            <form method="post" class="button-primary inline" asp-area="" asp-controller="Ships" asp-action="Details">
                <button type="submit" class="link-button" name="id" value="@ship.Id">
                    Details
                </button>
            </form>
        </div>
        <div class="media-body">
            <section class="media-image">
                <a asp-area="" asp-controller="Images" asp-action="Upload"><img src="@ship.ImageUrl" class="mr-3" alt="@ship.Name"></a>

            </section>
            <p>@ship.Description.Replace("Avalon", "DanubeJourney")</p>
            @*<section class="media-content">

        </section>*@
        </div>
    </div>
}
