@using DanubeJourney.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@GlobalConstants.SystemName</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/css/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/css/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/css/Images/favicon-16x16.png">
    <link rel="manifest" href="~/css/Images/site.webmanifest">
    <environment names="Development">
        <script src="https://kit.fontawesome.com/413e6250f4.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <script src="https://kit.fontawesome.com/413e6250f4.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="page hyde">
<input type="checkbox" id="toggle-main-nav">
<partial name="_CookieConsentPartial" />
<header class="site-header banner @(ViewData["size"] == null ? "size-small" : ViewData["size"])" style="background-image: url(https://www.compas.bg/ca/images/remote/offers/7403/4.jpg&auto=format&fit=crop&w=1489&q=80)">
    <div class="inner">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <h1 class="brand">
                <img src="~/css/Images/favicon-32x32.png" alt="icon" />
                @GlobalConstants.SystemName
            </h1>
        </a>
        <label for="toggle-main-nav" class="toggle-main-nav-button fas"><span>Menu</span></label>
        <nav class="header-nav">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Trips" asp-action="Index"><i class="far fa-compass"></i> Trips</a>
                    <ul>
                        <partial name="_TripsPartial" />
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Ships" asp-action="Index"><i class="fas fa-ship"></i> Ships</a>
                    <ul>
                        <partial name="_ShipsPartial" />
                    </ul>
                </li>
                <li>
                    <a href='/Hyde/about/'>
                        <span class="title"><i class="fas fa-info"></i> About</span>
                    </a>
                    <ul>
                        <li>
                            <a href='/Hyde/contacts/'>
                                <span class="title"><i class="far fa-compass"></i> Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href='/Hyde/gallery.html'>
                                <span class="title"><i class="fas fa-photo-video"></i> Gallery</span>
                            </a>
                        </li>
                        <li>
                            <a href='/Hyde/products.html'>
                                <span class="title"><i class="fas fa-industry"></i> Products</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
        <section class="cta">
            <a href="mailto:genadimihaylov@gmail.com" class="button">Contact Us</a>
        </section>
    </div>
</header>
<div class="container">
    <main role="main" class="site-content">
        @this.RenderBody()
    </main>
</div>
    <footer class="site-footer">
        <p>&copy; by Genadi</p>
    </footer>
    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </environment>
            @this.RenderSection("Scripts", required: false)
</body>
</html>
